* {
    box-sizing: border-box;
  }

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: aliceblue;
}

h1 {
font-family: 'Overlock', cursive;
font-size: 72px;
}

p {
    margin: 50px;
}

#header {
    display: grid;
    text-align: center;
}

ul li {
    list-style-type: none;
}

.container {
    padding-bottom: 30px;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    grid-template-rows: auto;
    display: grid;
    justify-content: center;
}

.responsive-image {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.cell img {
    width: 100%;
    height: 100%;
    display: block;
}

.cell {
    margin: 10px;
    border-radius: 5px;
    display: block;
    background: -moz-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(192,192,192,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(128,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#c0c0c0',GradientType=1 ); /* ie6-9 */ 
}

/* Navigation */

.topnav a { 
    text-decoration: none;
    color: aliceblue;
}

.dropbtn {
    background-color: black;
    color: aliceblue;
    font-size: 18px;
    border: 1px solid aliceblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.dropbtn:hover {
    border: 1px solid aliceblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    background-color: aliceblue;
    color: black;
}

.topnav {
    background-color: black;
    color: aliceblue;
    list-style: none;
    padding: 5px 30px 5px 30px;
    position: relative;
    display: flex;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn a:hover {
    background-color: aliceblue;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 5px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: aliceblue;
    background-color: black;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: black;
    background-color: aliceblue;
    padding: 8px 10px;
    min-width: 90px;
    border-radius: 5px;
    border: 1px solid black;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}

legend, label {
    display: none;
}

.searchnav {
    margin-left: auto;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    border: 1px solid aliceblue;
    border-radius: 5px 0px 0px 5px; 
    background-color: aliceblue;
}

.topnav .search-container button {
  float: right;
  padding: 5px;
  margin-top: 5px;
  margin-right: 16px;
  color: aliceblue;
  background: black;
  font-size: 18px;
  border: 1px solid aliceblue;
  border-radius: 0px 5px 5px 0px; 
  cursor: pointer;
}

.topnav .search-container button:hover {
    background: aliceblue;
    color: black;
    border: 1px solid aliceblue;
    border-radius: 0px 5px 5px 0px; 
}

.topnav .icon {
    display: none;
}

.Navbar__Link-toggle {
    display: none;
}

/* Form Styling */

/* Footer */

footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    padding: 3px;
}

/*  Responsive Styling */

@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: 50%;
    }
}

  @media screen and (min-width: 900px) {
    .cell {
      width: 25%;
    }
}
