* {
    box-sizing: border-box;
  }

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: whitesmoke;
    color: 	#303030;
}

h1 {
font-family: 'Overlock', cursive;
font-size: 72px;
text-shadow: 2px 3px rgba(0,0,0,0.2);
}

h2 {
    margin-left: 38px;
}

p {
    margin: 50px;
}

#header {
    display: grid;
    text-align: center;
}

ul li {
    list-style-type: none;
}

.container {
    padding-bottom: 30px;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    grid-template-rows: auto;
    display: grid;
    justify-content: center;
}

.responsive-image {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.cell img {
    width: 100%;
    height: 100%;
    display: block;
}

.cell {
    margin: 20px;
    border-radius: 5px;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: -moz-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(192,192,192,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(128,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#c0c0c0',GradientType=1 ); /* ie6-9 */ 
}

/*////////////Navigation//////////*/

.topnav {
    overflow: hidden;
    background-color: 	#303030;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
.topnav a {
    /* float: left; */
    display: block;
    color:whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color:whitesmoke;
    color: 	#303030;
}
  
.topnav a.active {
    background-color: rgb(11, 135, 243);
    color: whitesmoke;
}
  
.topnav .search-container {
    display: none;
    float: right;
}
  
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: whitesmoke;
}
  
.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: 	#303030;
    color:whitesmoke;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.topnav .search-container button:hover {
    background:whitesmoke;
    color: 	#303030;
}

.dropdown {
    float: left;
}

.home {
    float: left;
    display: block;
}

.dropdown .dropbtn {
    font-size: 16px; 
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
    display: block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color:	#303030;
    color: whitesmoke;
    border: 1px solid 	#303030;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: 	#303030;
    color:whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    border-color: whitesmoke;
    display: block;
    text-align: left;
    float: none;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
    color: 	#303030;
    border: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

#navAccount {
    float: right;
    margin-right: 45px;
}

/*////////////Form Styling//////////*/
form {
    text-align: center;
}
.addChild {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: rgba(0,0,0,0.5);
}

.addAccount {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: rgba(0,0,0,0.5);
}

.form-title {
    font-size: 36px;
    color: whitesmoke;
    text-align: center;
    text-transform: uppercase;
}
  
.addChild * {
    box-sizing: border-box;
}

.uploadAsset {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: rgba(0,0,0,0.5);
}
  
.uploadAsset * {
    box-sizing: border-box;
}

.addDrawer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;
    background-color: rgba(0,0,0,0.5);
}
  
.addDrawer * {
    box-sizing: border-box;
}
 
.flex-outer {
    list-style-type: none;
    padding: 0;
}
  
.flex-outer {
    max-width: 800px;
    margin: 0 auto;
    display: inline-block;
}
  
.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}
  
.flex-outer li label,
.flex-outer li p {
    padding: 18px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
}
  
.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 220px;
    max-width: 320px;
}
  
.flex-outer > li > label + * {
    flex: 1 0 220px;
}
  
.flex-outer li p {
    margin: 0;
}
  
.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    width: 100%;
    border: none;
    background:whitesmoke;
    color: 	#303030;
    font-size: 24px;
    letter-spacing: .09em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

/*////////////Overlay Styling//////////*/

#first-name {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#child-first-name {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#title {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#last-name {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#account-email {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#birth-date { 
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#drawer-name {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#drawer-title {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#notes {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#date-uploaded { 
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

select { 
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    color: gray;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#current-drawer-titles { 
    padding: 20px;
    margin-top: 5px;
    font-size: 18px;
    color: gray;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    width: 400px;
}

#accountoverlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

#childoverlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

#assetoverlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

#draweroverlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

#addAccountForm{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}

#addChildForm{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}

#uploadAssetForm{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}

#addDrawerForm{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}

/*////////////Child and Drawer Tabbed View//////////*/

.tab {
    /* overflow: hidden; */
    background-color: whitesmoke;
    color: 	#303030;
    margin: 60px; 
    /* width: 80%; */
}

.tab button {
    background-color:#707070 ;
    font-size: 16px;
    color: whitesmoke;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: whitesmoke;
    color: 	#303030;
}

.tab button.active {
    background-color: 	#303030;
    color: whitesmoke;
}

.tabcontent {
    display: none;
    background-color: whitesmoke;
    color: 	#303030;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.displayTabcontent {
    /* display: none; */
    background-color: white;
    color: 	#303030;
    padding: 12px 12px;
    border: 5px solid #2980b9;
    margin: 0 50px 50px 50px;
}

.assettabcontent {
    /* display: none; */
    background-color: whitesmoke;
    color: 	#303030;
    margin-top: 30px;
    padding: 12px 12px;
    border-top: none;
}

.uploadContainer {
    display: none;
}


.gsearchContainer {
    display: none;
}

.tabcontent h2 {
   margin-left: 40px;
}

.web-resource h2 {
    font-size: 36px;
    text-transform: uppercase;
}
/*////////////////Child and Asset DropDown Buttons//////////////////*/


/* .dropbtn-prof {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn-prof:hover, .dropbtn-prof:focus {
    background-color: #2980B9;
} */

.dropdown-prof {
    position: relative;
    display: inline-block;
}

.dropdown-childProfile {
    display: none;
    position: absolute;
    margin-top: -50px;
    margin-left: 60px;
    min-width: 160px;
    z-index: 1;
}

.dropdown-childProfile a {
    color:#707070 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: right;
}

.dropdown-childProfile a:hover {
    background-color: #ddd
}

.dropbtn-asset {
    background-color: 	#303030;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn-asset:hover, .dropbtn-asset:focus {
    background-color: 	#303030;
}

.dropdown-asset {
    position: relative;
    display: inline-block;
    margin-left: 60px;
    min-width: 160px;
    z-index: 1;
}

.dropdown-asset a {
    display: none;
    color:#707070 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: right;
    margin-top: 150px;
}

.dropdown-asset a:hover {
    background-color: #ddd
}

.dropdown-asset button:hover {
    background-color: #ddd
}

.dropdown-editAsset {
    display: none;
    position: absolute;
    margin-top: -50px;
    margin-left: 60px;
    min-width: 160px;
    z-index: 1;
}

.dropdown-editAsset a {
    color:#707070 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: right;
}

.dropdown-editAsset a:hover {
    background-color: #ddd
}


.show {
    display: block;
}

/*////////////////Asset Styling//////////////////*/

.col-4 {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
}
  
.asset {
    background-color: white;
    border: 1px solid#707070 ;
}
  
.asset-image {
    width: 100%;
}
  
.asset-content {
    padding-left: 25px;
    margin: 15px;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
  
.row::before,
.row::after {
    display: table;
    content: '';
}
  
.row::after {
    clear: both;
}
  
.col-3, .col-4, .col-6, .col-12 {
    float: left;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
}
  
.col-3, .col-4, .col-6, .col-12 {
    width: 100%;
}
  
/*////////////////Footer//////////////////*/

/*////////////Responsive Styling//////////*/

@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: 50%;
    }
}

@media only screen and (min-width: 640px) {
    .col-3 {
      width: 25%;
    }
  
    .col-4 {
      width: 33.33333%;
    }
    
    .col-6 {
      width: 50%;
    }
    
    .col-12 {
      width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .cell {
      width: 25%;
    }
}

@media screen and (max-width: 750px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid aliceblue;  
    }
    .dropdown-content {
        margin-top: 0;
    }
    p {
        padding-left: 15px;
        padding-right: 15px;
    }
}