* {
    box-sizing: border-box;
  }

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: aliceblue;
}

h1 {
font-family: 'Overlock', cursive;
font-size: 72px;
text-shadow: 2px 3px rgba(0,0,0,0.2);
}

p {
    margin: 50px;
}

#header {
    display: grid;
    text-align: center;
}

ul li {
    list-style-type: none;
}

.container {
    padding-bottom: 30px;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    grid-template-rows: auto;
    display: grid;
    justify-content: center;
}

.responsive-image {
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.cell img {
    width: 100%;
    height: 100%;
    display: block;
}

.cell {
    margin: 10px;
    border-radius: 5px;
    display: block;
    background: -moz-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(192,192,192,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(128,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 50%, rgba(128,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#c0c0c0',GradientType=1 ); /* ie6-9 */ 
}

/* Navigation */

.topnav {
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 15px;
}

.topnav li {
    float: left;
    font-size: 18px;
    color: aliceblue;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}


.dropbtn {
    background-color:black;
    color: aliceblue;
    padding: 10px;
    font-size: 18px;
    border: 1px solid aliceblue;
    border-radius: 5px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-color: black;
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: aliceblue;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: aliceblue;
    color: black;
}

.icon, legend, .search-label {
    display: none;
}

button:hover {
    background: aliceblue;
    color: black;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
}

.searchnav button  {
        float: right;
        padding: 10.5px;
        margin-top: 5px;
        margin-right: 18px;
        color: aliceblue;
        background: black;
        font-size: 16px;
        border: 1px solid aliceblue;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;  
}

.searchnav button:hover  {
    color: black;
    background: aliceblue;
}

.topnav input[type=text] {
    padding: 10px;
    margin-top: 5px;
    font-size: 18px;
    border: 0px solid aliceblue;
    border-radius: 5px 0px 0px 5px;
    background-color: aliceblue;
}

.searchnav {
    margin-left: auto;
}

.topnav .search-container {
    float: right;
    padding-top: 15px;
}
 
/* Form Styling */

.addChild {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
  
.addChild * {
    box-sizing: border-box;
}

.uploadAsset {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
  
.uploadAsset * {
    box-sizing: border-box;
}

.addDrawer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
  
.addDrawer * {
    box-sizing: border-box;
}
 
.flex-outer {
    list-style-type: none;
    padding: 0;
}
  
.flex-outer {
    max-width: 800px;
    margin: 0 auto;
    display: inline-block;
}
  
.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}
  
.flex-outer li label,
.flex-outer li p {
    padding: 18px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}
  
.flex-outer > li > label,
.flex-outer li p {
        flex: 1 0 220px;
        max-width: 320px;
}
  
.flex-outer > li > label + * {
    flex: 1 0 220px;
}
  
.flex-outer li p {
    margin: 0;
}
  
.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    width: 100%;
    border: none;
    background:black;
    color: aliceblue;
    font-size: 18px;
    letter-spacing: .09em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

#childoverlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

#assetoverlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

#draweroverlay {
    position: fixed; 
    display: none;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

#addChildForm{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 2;
}

#uploadAssetForm{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 3;
}

#addDrawerForm{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 4;
}


/* Footer */

/*  Responsive Styling */

@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: 50%;
    }
}

  @media screen and (min-width: 900px) {
    .cell {
      width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .dropbtn { 
       font-size: 14px;
    }

    .topnav input[type=text] {
        font-size: 12px;
    }

    button {
        font-size: 12px;
    }

    .searchnav button {
        font-size: 10.5px;
    }

    .searchnav li {
        float: left;
    }
}


@media screen and (max-width: 825px) {
    .topnav li {display: none;} 
    .topnav .icon {
        color: aliceblue;
        float: left;
        display: block;
    }
} 

@media screen and (max-width: 825px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon li {
        color: aliceblue;
        position: absolute;
        left: 0;
        top: 0;
    }
    .topnav.responsive li {
        display: block;
        text-align: left;
        float: none;
    }
}